/* 





*/
:root{
    --blue: #7289da;
    --white: #ffffff;
    --wg: #99aab5;
    --bg : #2c2f33;
    --articlebg: #23272a; 
}



*{
    padding: 0;
    margin: 0;
    background-color: var(--bg);
    color: var(--white);
}
h1{
    justify-content: center;
    text-align: center;
    padding: 4rem;
}
nav ul{
    padding: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--articlebg);
}
nav ul li a {
    border-right: 2px ;
    color: var(--white);
    background-color: var(--articlebg);
    font-size: 1.5rem;
}
nav ul li a :last-child{
    border-right: transparent;
   
}

main{
    padding: 10rem;
    display: flex;
    align-items: center;
    flex-direction:  column;
    justify-content: center;
}
article img {
    height: 20rem;
    width: 20rem;
}
article h2{
    font-size: 2rem;
    padding-bottom: 2rem;
    background-color: var(--articlebg);
    overflow: hidden;
}
article div{
    background-color: var(--articlebg);
}
article p{
    background-color: var(--articlebg);
    text-align: center;
    justify-content: center;
    font-size: 1.2rem;
}
article
{
    overflow: hidden;
    background: linear-gradient(145deg, var(--articlebg), var(--articlebg));
    border-radius: 71px;
    box-shadow:  25px 25px 20px var(--articlebg),
                 25px 25px 20px var(--articlebg);
    width: 60rem;
    display: flex;
    justify-content: center;    
    margin-bottom: 3rem;
}
